@model Student

@{
    ViewData["Title"] = "学生详细信息";
    string photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.png");
    
}

<h3>学生详细信息</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                <h4>邮箱:@Model.Email</h4>
                <h4>主修科目:@Model.Major.GetDisplayName()</h4>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-action="Index" asp-controller="Home">返回</a>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-primary">修改</a>
                <a href="#" class="btn btn-danger">删除</a>
            </div>
        </div>
    </div>
</div>
