
@{
    ViewData["Title"] = "Error";
}

<h3>
    程序请求时发生了一个内部错误，我们会反馈给团队，我们正在努力解决这个问题。
</h3>
@*<hr />
<h3>错误详细信息</h3>
<div class="alert alert-danger">
    <h5>异常路径</h5>
    <hr />
    <p>@ViewBag.Path</p>
</div>
<div class="alert alert-danger">
    <h5>错误提示</h5>
    <hr />
    <p>@ViewBag.ErrorMessage</p>
</div>
<div class="alert alert-danger">WW
    <h5>异常堆栈跟踪:</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>*@

